*{
	box-sizing: border-box;
}
body{
	padding: 10px;
	margin: 0 auto;
}
.meni{
	background-color: #86abf9;
	margin: 0 auto;
	
	width: 100%;
	position: absolute;
	left:0px;
	top: 75px;
	
}
.logo{
	margin: 0 auto;	
	
	width: 150px;
	height: 150px;
	position: absolute;
	left: 50%;
	top: 0;
}
#slikaLoga{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.sadrzaj{
	background-color: #86abf9;
	width: 100%;
	height: 75%;
	margin: 0 auto;
	padding: 10px;
	padding-bottom: 0px;
	overflow: scroll;
	
	position: absolute;
	bottom: 10px;
	left: 10px;
}

@media  (min-width: 1301px){
	.galerija{
		padding: 10px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 30% 30% 30%;
		grid-gap: 5%;
	}
}
@media  (max-width: 1300px){
	.galerija{
		padding: 3%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 45% 45%;
		grid-gap: 3%;
	}
}
@media  (max-width: 1000px){
	.galerija{
		padding: 2%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 90%;
		grid-gap: 2%;
	}
	
	#slikaLoga{
		transform: scale(0.5);
	}
		
}

@media  (max-width: 600px){
	.galerija{
		padding: 2%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 90%;
		grid-gap: 2%;
	}
	
	.slika{
		margin: 0 auto;
		transform: scale(0.8);
	}
	
	#lista li{
		display: block;
	}
	
   .sadrzaj{
	   height: 65%;
   }
	 #slikaLoga{
		transform: scale(0.5);
	}
	
	
}

.slika{
	margin: 0 auto;
	width: 400px;
    height: 250px;
}



#lista{
	list-style-type: none;
	height: 20%;
}
#lista li{
	font-size: 15px;
	display: inline-block;
	padding: 20px;
}
#lista a{
	color: black;
}
#roditelj{
	height: 30%;
	width: 100%;
	margin: 0 auto;
	position: relative;
	
}