*{
	box-sizing: border-box;
}
body{
	padding: 10px;
	margin: 0 auto;
	
}

.zauzeta{
	background-color: #f73939;
    height: 17px;
}

.slobodna{
	/*background-color: #81f542;*/
	/*background-color: #86abf9;*/
	height: 20px;
	width: 100%;
	
}
.meni{
	background-color: #86abf9;
	margin: 0 auto;
	
	width: 100%;
	position: absolute;
	left:0px;
	top: 75px;
	
}
.logo{
	margin: 0 auto;	
	
	width: 150px;
	height: 150px;
	position: absolute;
	left: 50%;
	top: 0;
	
}
#slikaLoga{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.sadrzaj{
	background-color: #86abf9;
	height:75%;
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	padding-bottom: 0px;
	overflow: scroll;
	
	position: absolute;
	bottom: 10px;
	left: 10px;
}
label{
	width : 100px;
}
#selectSale{
	width: 200px; 
}

.broj{
    border-bottom: 2px solid darkblue;   
}

#lista{
	list-style-type: none;
	height: 20%;
}
#lista li{
	font-size: 15px;
	display: inline-block;
	padding: 20px;
}
#lista a{
	color: black;
}
#roditelj{
	height: 20%;
	width: 100%;
	margin: 0 auto;
	position: relative;
	
}
.dani{
    text-align: center;
    border: 2px solid darkblue;
    border-collapse: collapse;
    margin-bottom: 0px;
}
.kalendarVeliki{
    border: 2px solid darkblue;
    display: inline-block;
    margin: 10px;
}
.maliKalendar{
	border: 2px solid darkblue;
    display: inline-block;
    margin: 10px;
}
.velikiKlendar ul{
    list-style-type: none;
    margin-left: 0;   
}
.maliKalendar{
	list-style-type: none;
    margin-left: 0;  
}

.daniUSedmici{  
    padding: 0;
}
.daniUSedmici li{
    display: inline-block;
    text-align: center;
    width: 50px;
    border: 2px solid darkblue;
    border-collapse: collapse;
    margin: 5px;
}

.boje{
    margin: 0;
}
.brojevi li{
    display: inline-block;
    width: 50px;
	margin: 5px;
	padding: 0px;
}
.brojevi{
    padding: 0;
    
}

.boje li{
    display: inline-block;
    width: 50px;
    margin-right: 0px;
}
.dugmeObojiZauzeca{
	background-color: #86abf9;
    border: 2px solid darkblue;
    text-align: center;
    margin-left: 10px;
    width: 150px;
    padding: 10px;
}
.dugmePrethodni{
    background-color: #86abf9;
    border: 2px solid darkblue;
    text-align: center;
    margin-left: 10px;
    width: 100px;
    padding: 10px;
}

.dugmeSljedeci{
    background-color: #86abf9;
    border: 2px solid darkblue;
    text-align: center;
    width: 100px;
    margin-right: 10px;
	padding: 10px;
	float: right;
}
#okvir{
    display: inline-block;
}

@media (max-width: 600px){
	.velikiKalendar{
		display: none;
	}
	#lista li{
		display: block;
	}
	
   .sadrzaj{
	   height: 40%;
   }
	
}
@media (max-width: 950px){
	#slikaLoga{
		transform: scale(0.5);
	}
}
@media (min-width: 601px){
	.maliKalendar{
		display: none;
	}
}

