
*{
	box-sizing: border-box;
}
body{
	padding: 10px;
	margin: 0 auto;
	
}

.meni{
	background-color: #86abf9;
	margin: 0 auto;
	
	width: 100%;
	position: absolute;
	left:0px;
	top: 75px;
}
.logo{
	margin: 0 auto;	
	
	width: 150px;
	height: 150px;
	position: absolute;
	left: 50%;
	top: 0;
}
#slikaLoga{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.sadrzaj{
	background-color: #86abf9;
	height:75%;
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	padding-bottom: 0px;
	
	position: absolute;
	bottom: 10px;
	left: 10px;
}
label {
	display: inline-block;
	width: 120px;
}
#lista{
	list-style-type: none;
}
#lista li{
	font-size: 15px;
	display: inline-block;
	padding: 20px;
}
#lista a{
	color: black;
}
#roditelj{
	height: 30%;
	width: 100%;
	margin: 0 auto;
	position: relative;
	
}
.dugme{
	background-color: #86abf9;
    border: 2px solid darkblue;
    text-align: center;
    width: 100px;
    margin-right: 10px;
	padding: 10px;
}
forma{
	margin: 0 auto;
}
@media (max-width :600px){
	label {
		display: block;
		width: 120px;
	}
	.sadrzaj{
		height: 65%;
	}
	#lista li{
		display: block;
	}
	
	
   .sadrzaj{
	   height: 40%;
   }
 }
 @media (max-width: 950px){
	#slikaLoga{
		transform: scale(0.5);
	}
}